<h1>Inserting Data</h1>

<form method='POST'> {% csrf_token %}
    <p>Insert info:</p>
    <body>
        <p>ObservationDate: * <input type="text" name="observ"></p>
        <p>Province/State: <input type="text" name="state"></p>
        <p>Country/Region: * <input type="text" name="country"></p>
        <p>Last Update: * <input type="text" name="lastUp"></p>
        <p>Confirmed: * <input type="text" name="confirm"></p>
        <p>Deaths: * <input type="text" name="deaths"></p>
        <p>Recovered: * <input type="text" name="recover"></p>
        <button type="submit">Submit</button> 
    </body>
</form>

{% if error%}
    <p>Make sure to iclude the "*" tabs!</p>
{% else %}
    
{% endif %}