<h1>Peak Days Date</h1>

<form method='POST'> {% csrf_token %}
    <a class="btn btn-primary" href="/search">Click to go back</a>
    <p>Insert info:</p>
    <body>
        <p>Province/State <input type="text" name="Prov/State" id="Prov/State"></p>
        <p>Country/Region <input type="text" name="Country/Region" id="Country/Region"></p>
        <button type="submit">Submit</button>
    </body>
</form>
<p>Date of the Highest Peak of Confirmed Cases: {{confirmedCase}} </p>
<p>Number of confirmed cases: {{confirmedCaseDate}}</p>
<p>Date of the Highest Peak of Death Cases: {{deathCase}} </p>
<p>Number of death cases: {{deathCaseDate}}</p>
<p>Date of the Highest Peak of Recovered Cases: {{recoveredCase}} </p>
<p>Number of recovered cases: {{recoveredCaseDate}}</p>
