<h1>Search Data</h1>

<form method='POST'> {% csrf_token %}
    Search: <input type="text" name="search">
    <button type="submit">Search</button>
</form>

<form method='POST'> {% csrf_token %}
    <a class="btn btn-primary" href="/delete">Delete</a>
    <a class="btn btn-primary" href="/insert">Insert</a>
    <p>To remove data select "Delete" button. To add data select "Insert" button.</p>
</form>

{% if error%}
    <p>Error: Incorrect info added, please try again!</p>
{% else %}
    {% for SNo, observ, state,country, lastUp, confirm, deaths, recover in data_info %}
        <p>{{SNo}} , {{observ}} , {{state}} , {{country}} , {{lastUp}} , {{confirm}} , {{deaths}} , {{recover}}</p>
    {% endfor %}
{% endif %}
