<h1>Search Data</h1>

<form method='POST'> {% csrf_token %}
    Search: <input type="text" name="searched" id="search_bar" placeholder = "Choose example format">
    <select id="guide_format" onChange = "change()">
        <option value='' disabled selected>Select your Format</option>
        <option value="#">SNo</option>
        <option value="MM/DD/YYYY">Observation Date</option>
        <option value="Example: New York">Province/State</option>
        <option value="Example: United States">Country</option>
        <option value="MM/DD/YYYY HH:MM">Last Updated</option>
        <option value="#">Confirmed</option>
        <option value="#">Deaths</option>
        <option value="#">Recovered</option>
    </select>
    <button type="submit">Search</button>
</form>

<script type = "text/javascript">
    function change() {
        var select = document.getElementById('guide_format');
        var option = select.options[select.selectedIndex];

        document.getElementById('search_bar').placeholder = option.value;
    }
</script>


<h1>{{searched}}</h1>
<form method='POST'> {% csrf_token %}
    <a class="btn btn-primary" href="/delete">Delete</a>
    <a class="btn btn-primary" href="/insert">Insert</a>
    <a class="btn btn-primary" href="/backup">Backup</a>
    <p>To remove data select "Delete" button. To add data select "Insert" button.</p>
</form>

{% if error%}
    <p>Error: Incorrect info added, please try again!</p>
{% else %}
    {% for SNo, observ, state,country, lastUp, confirm, deaths, recover in data_info %}
        <p>{{SNo}} , {{observ}} , {{state}} , {{country}} , {{lastUp}} , {{confirm}} , {{deaths}} , {{recover}}</p>
    {% endfor %}
{% endif %}
