<div>
  <canvas id="topRecovs"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // === include 'setup' then 'config' above ===
    const data = {
        labels: [{%for data in prov%}'{{data}}',{%endfor%}],
        datasets: [{
            label: 'Highest recoveries per Province/State',
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
            ],
            data: [{%for data in recov%}{{data}},{%endfor%}],
        }]
    };
    const config = {
        type: 'bar',
        data: data,
        options: {
            indexAxis: 'y',
        }
    };
    const myChart = new Chart(
        document.getElementById('topRecovs'),
        config
    );
</script>


{% if error%}
    <p> Error: File was not imported!</p>
    <a class="btn btn-primary" href="/search">Return</a>
{% else %}
    <p>Most recoveries found in these provinces/states:</p>
    {% for SNo, observ, state,country, lastUp, confirm, deaths, recover in data_info %}
        <p>{{SNo}} , {{observ}} , {{state}} , {{country}} , {{lastUp}} , {{confirm}} , {{deaths}} , {{recover}}</p>
    {% endfor %}
    <a class="btn btn-primary" href="/search">Return</a>
{% endif %}