.title {
    font-size: 45px;
}
.text {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1d364e;
    text-align: center;
    background-color: rgb(217, 246, 255);
}
.background {
    background-color: rgb(217, 246, 255);
}